<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
<!--    <script type="text/javascript" src="/static/js/login.js"></script>-->
</head>
<body>
<h1>Spring Security Login page</h1>
<div class="int-area">
    <input type="text" name="id" id="id" autocomplete="off" required>
    <label for="id">아이디</label>
</div>
<div class="int-area">
    <input type="password" name="id" id="pw" autocomplete="off" required>
    <label for="id">비밀번호</label>
</div>
<div class="btn-area">
    <button id="btn">로그인</button>
</div>
</body>
</html>